.newPost {
    width: 50%;
    height: 170px;
    border-radius: 10px;
    border-color: black;
    align-content: center;
    margin-left:500px;
    position:absolute;
  }
  
  .newPostContainer {
    padding: 10px;
  }
  
  .newPostTop {
    display: flex;
    align-items: center;
  }
  
  .newPostProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

  .newPostTitle{
    border: none;
    width: 80%;
    height: 35px;

  }
  
  .newPostInput {
    border-spacing: solid;
    border-width: 50px;
    width: 80%;
    height:190px;
  }
  
  .newPostInput:focus {
    outline: none;
  }
  
  .newPostHr {
    margin: 20px;
  }
  
  .newPostMiddle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .newPostOptions{
      display: flex;
      margin-left: 20px;
  }
  
  .newPostOption{
      display: flex;
      align-items: center;
      margin-right: 15px;
      cursor: pointer;
  }
  
  .newPostIcon{
      font-size: 18px;
      margin-right: 3px;
  }
  
  .newPostOptionText{
      font-size: 14px;
      font-weight: 500;
  }
  
  .newPostBlockInput{
    border: 10px;
    height: 100px;
    width: 100%;
  }

  .newPostBottom{
  display:  flex;
  align-items: right;
  }
  .newPostButton{
      border: none;
      padding: 7px;
      border-radius: 5px;
      background-color: green;
      font-weight: 500;
      margin-right: 20px;
      cursor: pointer;
      color: white;
  }